version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: fithub-mysql
#    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    expose:
      - "3306"
    healthcheck:
      test: ["CMD-SHELL", "mysql -u ${DB_USER} -p${DB_PASSWORD} -h 127.0.0.1 ${DB_NAME} -e \"SELECT 1\""]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - web

  backend:
    build: ./backend/fithub
    container_name: fithub-django
    command: sh -c "python manage.py makemigrations api recipes ingredients forum core utils wikidata qa reports && python manage.py migrate && exec python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - web
    profiles:
      - http

  backend_https:
    build: ./backend/fithub
    container_name: fithub-django-https
    command: sh -c "python manage.py makemigrations api recipes ingredients forum core utils wikidata qa reports && python manage.py migrate && exec python manage.py runserver_plus --cert-file ${HTTPS_CERT} --key-file ${HTTPS_KEY} 0.0.0.0:8000"
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - web
    profiles:
      - https

  backend_prod:
    build: 
      context: ./backend/fithub
      dockerfile: Dockerfile.prod
    container_name: fithub-django-prod
    command: sh -c "python manage.py makemigrations api recipes ingredients forum core utils wikidata qa reports && python manage.py migrate && exec gunicorn fithub.wsgi -b 0.0.0.0:8001"
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - web
    profiles:
      - http_prod
      - https_prod

  frontend:
    build: ./frontend
    container_name: fithub-frontend
    volumes:
      - .:/frontend_code
    ports:
      - "5173:5173"
    env_file:
      - .env
    networks:
      - web
    profiles:
      - http

  frontend_https:
    build: ./frontend
    container_name: fithub-frontend-https
    volumes:
      - .:/frontend_code
    ports:
      - "443:443"
    env_file:
      - .env
    networks:
      - web
    profiles:
      - https

  frontend_prod:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    container_name: fithub-frontend-prod
    volumes:
      - .:/frontend_code
    depends_on:
      backend_prod:
        condition: service_started
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - web
    profiles:
      - http_prod

  frontend_https_prod:
    build: 
      context: ./frontend
      dockerfile: Dockerfile.prodhttps
      args:
        HTTPS_CERT: ${HTTPS_CERT}
        HTTPS_KEY: ${HTTPS_KEY}
    container_name: fithub-frontend-https-prod
    volumes:
      - .:/frontend_code
    depends_on:
      backend_prod:
        condition: service_started
    ports:
      - "443:443"
    env_file:
      - .env
    networks:
      - web
    profiles:
      - https_prod

volumes:
  db_data:

networks:
  web:
    driver: bridge
